*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.input-wrapper input{
    width: 100%;
    padding: 10px 13px;
    border-radius:5px;
    border: 1px solid #dbdbdb;

}

.cursor-pointer{
    cursor: pointer;
}

.error {
    color: red;
}

.btn{
    padding: 7px 18px;   
    border: 1px solid;
    background-color:#007bff;
    color: white;
    border-radius: 5px;
}

.header{
    
    background: #037bfe;
    color: #ffffff;
    text-align: center;
    height: 64px;
    font-size: 24px;
    line-height: 64px;
     
}